section#entrar {
    height: 99.90%;
    max-width: 800px;
    display: flex;
    margin: auto;
    background-color: var(--cor-cinza-claro);
}

section#entrar > #esquerda {
    float: left;
    width: 50%;
    margin: 0px 30px 50px;
}

#titulo-entrar {
    margin: 50px 30px;
}

#titulo-entrar > h2 {
    text-align: center;
    padding: 30px;
}

#titulo-entrar > h3 {
    padding: 0px 0px 10px;
}

#titulo-entrar > p {
    color: var(--cor-cinza-medio);
}

#form-entrar {
    margin: 50px 30px;
}