footer {
    width: 100%;
    max-width: 800px;
    padding: 0.65vh 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor-branca);
}

footer > p {
    text-align: center;
    color: var(--cor-marrom);
}

footer > p > a {
    color: var(--cor-marrom);
    text-decoration: none;
    font-weight: bold;
}

footer > p > a:hover {
    color: var(--cor-laranja);
}