header {
    height: 9vh;
    display: flex;
    background-color: var(--cor-branca);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

header > div {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 40px;
}

header > div > img {
    height: 50px;
    width: 50px;
}

header > nav {
    width: 90%;
}

header > div#home{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 30px;
}

div#home > a > span {
    color: var(--cor-preta);
}

div#home > a > span:hover {
    color: var(--cor-laranja);
}

div#home > a > span:active {
    color: var(--cor-laranja);
}