aside {
    padding: 20px 25px;
}

aside > #centralizar-fotos > img {
    display: inline-block;
    height: 100px;
    width: 150px;
    margin: 10px;
}

@media (width <= 400px) {
    #centralizar-fotos {
        height: 960px;
        max-width: 170px;
        margin: 0px auto 30px;
    }
}

@media (width <= 750px) and (width > 400px) {
    #centralizar-fotos {
        height: 480px;
        max-width: 350px;
        margin: 0px auto 20px;
    }
}

@media (width >= 750px) {
    #centralizar-fotos {
        height: 240px;
        width: 700px;
        margin: 0px auto 10px;
    }
}