header {
    height: 9vh;
    display: flex;
}

header > div {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 40px;
}

header > div > img {
    height: 50px;
    width: 50px;
}

header > nav#menu {
    display: none;
}

div#menu-list {
    display: none;
}

header > nav#navegador {
    margin: auto;
}

header > nav#navegador > a {
    padding: 27px 10px;
    text-decoration: none;
    color: var(--cor-preta);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 0.9em;
}

header > nav#navegador > a:hover {
    background-color: var(--cor-laranja);
    color: var(--cor-branca);
    transition-duration: 0.5s;
}

header > div#user-container {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 30px;
}

div#user-container > a > span {
    color: var(--cor-preta);
}

div#user-container > a > span:hover {
    color: var(--cor-laranja);
    transition-duration: 0.5s;
}

div#user-container > a > span:active {
    color: var(--cor-laranja);
}

@media (width <= 565px) {
    header > nav#menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 5%;
    }

    header > nav#menu > button {
        background-color: var(--cor-branca);
        padding: 10px;
        border: none;
        margin: 10px 0px 10px 20px;
    }

    header > nav#menu > button:hover {
        color: var(--cor-laranja);
        cursor: pointer;
        transition-duration: 0.5s;
    }

    header > nav#menu > button:active {
        color: var(--cor-laranja);
    }

    div#menu-list {
        display: none;
        position: absolute;
        top: 7%;
        right: 0;
        background-color: var(--cor-branca);
        padding: 5px 20px;
    }

    div#menu-list > a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: var(--cor-preta);
        font-weight: bold;
        font-size: 1em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    }

    div#menu-list > a:hover {
        color: var(--cor-laranja);
        transition-duration: 0.5s;
    }

    header > nav#navegador {
        display: none;
    }

    header > div#user-container {
        display: none;
    }
}