header {
    width: 100%;
    padding: 28px 8%;
}

#navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navLogo {
    height: 3em;
    width: 3em;
}

#navLogo img {
    height: 3em;
    width: 3em;
}

#navList {
    display: flex;
    list-style: none;
    gap: 3em;
}

.navItem a {
    text-decoration: none;
    color: var(--cor-preta);
    font-weight: 600;
    font-size: 1.1em;
}

.navItem.active a {
    color: var(--cor-marrom);
    border-bottom: 3px solid var(--cor-laranja);
}

#userContainer {
    width: 1.5em;
    height: 1.5em;
}

#userContainer a {
    text-decoration: none;
    color: var(--cor-preta);
}

#userContainer a i {
    font-size: 1.5em;
}

#userContainer a i:hover {
    color: var(--cor-laranja);
}

#mobileButton {
    display: none;
}

#mobileMenu {
    width: 12em;
    background-color: var(--cor-branca);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    transform: translateX(30em);
    opacity: 0;
    transition: transform .5s ease, opacity .5s ease;
}

@media screen and (max-width: 1170px) {
    #navList, #userContainer {
        display: none;
    }

    #mobileButton {
        display: block;
        border: none;
        background-color: var(--cor-branca);
        font-size: 1.5em;
        cursor: pointer;
        transition: all .5s ease;
    }

    #mobileButton:hover {
        color: var(--cor-laranja);
    }

    #mobileMenu.active {
        transform: translateX(0);
        opacity: 1;
    }

    #mobileNavList {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    #mobileNavList .navItem {
        list-style: none;
        text-align: center;
    }

    #mobileNavList .navItem a:hover {
        color: var(--cor-laranja);
    }
}